[Unit]
Description=Auto Start Phone Stand
After=network.target

[Service]
Type=simple
ExecStart=/home/admin/Programs/Pi_Photo_Stand/pi_photo_stand/install_autostart/autostart_pi_stand.sh

[Install]
WantedBy=default.target
